* {
	box-sizing:  border-box;
}
body{
margin:0;
}
#prek{
  display: flex;
  flex-direction: column;
  flex-wrap:  wrap;
  width: 100%;
  margin: 0px 0;
  border: 3px solid black;
  background-color: rgb(255, 207, 134);
}
#header_box {

	background-color: #4144ff;
  border:  1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  padding: 10px;
}
#name_site{
   background-color:rgb(255, 255, 255); padding:10px; text-align: center;
   flex: 5;
   order:2;
   margin: 10px;
}
#logo{
  float:left; margin: 10px; width:100px; height:100px;
  flex: 1;
  order:1;
  padding: 10px;
  max-height: 100px;
  max-width: 100px;
}
#menu{
  background-color:#ccc;
  flex: 100%;
  order:1;
  margin: 0px;
  padding: 10px;
  text-align: left;
  border: 3px solid grey;
}


#menu a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}

#prek nav{
  flex:100%;
  order:2;
  margin: 0px;
  padding: 10px;
  text-align: left;
  background-color:#ccc;
  border: 3px solid grey;
}

#table_container{
  background-color:#ccc;
  flex:100%;
  order:3;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid grey;
}
table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid grey;
}

th, td {
   border: 1px solid grey;
}
#form{
  background-color:#ccc;
  flex: 100%;
  order:4;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: 3px solid grey;
}
footer{
  width:  100%;
	margin-top:  0px;
	padding:  10px 0 10px 0;
	text-align: center;
	background-color: #3e41f8;
  border:  1px solid black;
}
#footer_text{
   background-color:#ddd; padding:10px; text-align: center;
}
@media screen and (min-width: 960px) {
  #prek{
    flex-direction: row;
    flex-wrap:  wrap;
  }
  #form{
    order: 3;
  }
  #table_conteiner{
    order: 4;
  }
}
