* {
	box-sizing:  border-box;
}
body{
margin:0;
}

#header_box {

	background-color: #4144ff;
  border:  1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  padding: 10px;
}
#name_site{
   background-color:rgb(255, 255, 255); padding:10px; text-align: center;
   flex: 5;
   order:2;
   margin: 10px;
}
#logo{
  float:left; margin: 10px; width:100px; height:100px;
  flex: 1;
  order:1;
  padding: 10px;
  max-height: 100px;
  max-width: 100px;
}
#menu{
  padding: 10px;
  background-color:rgb(253, 157, 141);
  text-align: left;
  height: 100%;
}
#menuTable{
  background-color:#ccc;
  flex: 100%;
  order:1;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: 3px solid grey;
}
#menuTable a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}
.menuTable {
	width: 100%;
	display: table;
}
.menuTable ul {
	display: table-row;
}
.menuTable li {
	display: table-cell;
	background: rgba(0, 94, 181, 0.5)
}
.menuTable ul li:hover, .menuTable a:hover {
	background: rgb(48, 25, 255);
}
.menuTable li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
}
nav{
 
  padding: 10px;
  column-width: 49%;
	column-count: 2;
	column-gap: 2%;
	background: #ffe1e1;
  background-color:rgb(253, 157, 141);
  border: 3px solid grey;
  width: 100%;
}
nav li{
	list-style-type: none;
	margin: 5px 0;
}


#table_conteiner{
  text-align: left;
  border-collapse: collapse;
  border: 3px solid grey;
  height: 100%;
}
table{
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}

th, td {
   border: 1px solid grey;
}
#form{
  background-color:rgb(120, 200, 253);
  flex: 100%;
  order:4;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: 3px solid grey;
}
footer{
  width:  100%;
	margin-top:  0px;
	padding:  10px 0 10px 0;
	text-align: center;
	background-color: #3e41f8;
  border:  1px solid black;
}
.even{
  background-color:rgb(255, 255, 255);
}
.odd{
	  background-color: #001cb8;
}
.third{
  background-color: #ff0202;
}
#footer_text{
   background-color:#ddd; padding:10px; text-align: center;
}
.form-check{
	text-align: left;
}
#button1{
	width: 25%;
	float:right;
	margin-top: 10px;
	margin-bottom: 0px;
}
#button2{
	width: 25%;
	float:left;
	margin-top: 0px;
	margin-bottom: 0px;
}
#calc{
	margin: 10px 0;
}
#result1{
	width:100%;
	margin-top: 30px;
	height: 30px;
	border:  1px solid black;
	background-color: white;
	text-align: center;
	padding-right: 10px;
}
#result2{
	width:100%;
	margin: 0px 0;
  margin-top: 100px;
	height: 30px;
	border:  1px solid black;
	background-color: white;
	text-align: center;
	padding-right: 10px;
}
#field1{
	width: 28%;
    margin-left: 60px;
	text-align: center;
	padding-right: 10px;
}
#field2{
	width: 28%;
  margin-left: 60px;
  margin-top: 10px;
	text-align: center;
	padding-right: 10px;
}
#field0{
	width: 20%;
	text-align: center;
	padding-right: 10px;
	float:right;
}
@media screen and (max-width: 1080px) {
	nav{
		padding-left: -50px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
	  column-width: 49%;
		column-count: 1;
		column-gap: 2%;
		background: rgba(23, 41, 59, 0.5);
	  width: 100%;
		color: white;
	}
	.menuTable {
		display: flex;
		flex-direction: row;
		flex-wrap:  wrap;
		margin: 0 auto;
	}
	.menuTable ul {
	width:100%;
	padding: 0;
	min-height: 100%;
  }
	.menuTable li {
		background: rgba(0, 94, 181, 0.5)
		flex 100%;
		display: block;
	}
	.menuTable ul li:hover, .menuTable a:hover {
		background: #666;
	}
	.menuTable li a {
		color: #fff;
		text-align: center;
		width: 100%;
	}
	.slider .slider_item{
	 width: 50%;
	}
}
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display:flex;
    align-items: flex-start;
}
.slider .slick-dots{
display: flex;
align-items: center;
justify-content: center;
}
.slider .slick-dots li{
list-style: none;
margin: 0px 10px;
}
.slider .slick-dots button{
font-size: 0;
width: 10px;
height: 10px;
background-color: black;
border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
background-color: #fff;
border: 1px solid black;
}
.slider{
    position: relative;
    padding: 0px 60px;
}
.slider .slick-arrow{
top: 50%;
margin: 0;
font-size: 0;
width: 30px;
height: 30px;
background-size: contain;
background-repeat: no-repeat;
position: absolute;
z-index: 10;
bottom: 0;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('images/arrow_left.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
right: 0;
background: url('images/arrow_right.png') 0 0 / 100% no-repeat;
}
.slider .slider_item{
 margin: 10px;
 border:  1px solid black;
 width: 20%;
 height: 200px;
}
.slider .slider_item .img-fluid{
 width: 100%;
 height: 100%;
 object-fit: cover;
 position: 50% 50%;
}

#for-popup-form{
	background-color: rgba(0, 94, 181, 0.5);
}

.form-text{
    margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
    text-align: center;
		display: block;
}
.popup-submit{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 rgb(39, 61, 42);
    transition: background-color 0.5s ease 0s;
    background-color: rgb(26, 10, 252);
    margin-top: 10px;
}
.popup-overlay{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(23, 41, 59, 0.5);
	z-index: 100;
	}
	.popWindow{
	display: none;
	margin: auto;
	max-width: 720px;
	padding-bottom: 20px;
	margin-top: 130px;
	left:50%;
	box-shadow: 0 0 30px rgba(23, 41, 59, 0.5);
	background-color: #3e97fd;
    border-radius: 5px;
	}
	.popWindow h2{
	color: black;
	font-size: 30px;
	text-align: center;
	z-index: 10;
	position: relative;
	}
	.close-btn{
	float:right;
	font-size: 30px;
	line-height: 20px;
	cursor: pointer;
	color: rgb(34, 34, 34);
	padding: 10px;
	}
	.thank-you-window{
	display: none;
	height: 100px;
	width: 400px;
    padding-bottom: 5px;
    text-align: center;
    align-items: center;
    margin-top: 0px;
	box-shadow: 0 0 30px rgba(18, 70, 25, 0.986);
	background-color: rgb(47, 163, 240);
	position:absolute;
	}
	.thank-you-message{
	font-size: 25px;
    color: #fff;
	}
	.btnf{
        padding-left: 120px;
    }
    .form_button{
        width: 70%;
    }
 