* {
	box-sizing:  border-box;
}
body{
margin:0;
}



#header_box {

	background-color: #4144ff;
  border:  1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  padding: 10px;
}
#name_site{
   background-color:rgb(255, 255, 255); padding:10px; text-align: center;
   flex: 5;
   order:2;
   margin: 10px;
}
#logo{
  float:left; margin: 10px; width:100px; height:100px;
  flex: 1;
  order:1;
  padding: 10px;
  max-height: 100px;
  max-width: 100px;
}
#menu{
  padding: 10px;
  background-color:rgb(253, 157, 141);
  text-align: left;
  height: 100%;
}
#menuTable{
  background-color:#ccc;
  flex: 100%;
  order:1;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: 3px solid grey;
}
#menuTable a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}
.menuTable {
	width: 100%;
	display: table;
}
.menuTable ul {
	display: table-row;
}
.menuTable li {
	display: table-cell;
	background: rgba(0, 94, 181, 0.5)
}
.menuTable ul li:hover, .menuTable a:hover {
	background: rgb(48, 25, 255);
}
.menuTable li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
}
nav{
  padding: 10px;
  column-width: 49%;
	column-count: 2;
	column-gap: 2%;
	background: #ffe1e1;
  background-color:rgb(253, 157, 141);
  border: 3px solid grey;
  width: 100%;
}


#table_conteiner{
  text-align: left;
  border-collapse: collapse;
  border: 3px solid grey;
  height: 100%;
}
table{
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}

th, td {
   border: 1px solid grey;
}
#form{
  background-color:#ccc;
  flex: 100%;
  order:4;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: 3px solid grey;
}
footer{
  width:  100%;
	margin-top:  0px;
	padding:  10px 0 10px 0;
	text-align: center;
	background-color: #3e41f8;
  border:  1px solid black;
}
.even{
  background-color:rgb(255, 255, 255);
}
.odd{
	  background-color: #001cb8;
}
.third{
  background-color: #ff0202;
}
#footer_text{
   background-color:#ddd; padding:10px; text-align: center;
}
#button1{
	width: 25%;
	float:right;
	margin-top: 10px;
	margin-bottom: 0px;
}
#button2{
	width: 25%;
	float:left;
	margin-top: 0px;
	margin-bottom: 0px;
}
#calc{
	margin: 10px 0;
}
#result{
	width:100%;
	margin: 0px 0;
  margin-top: 100px;
	height: 30px;
	border:  1px solid black;
	background-color: white;
	text-align: center;
	padding-right: 10px;
}
#field1{
	width: 28%;
  margin-left: 60px;

	text-align: center;
	padding-right: 10px;
}
#field2{
	width: 28%;
  margin-left: 60px;
  margin-top: 10px;
	text-align: center;
	padding-right: 10px;
}
@media screen and (max-width: 960px) {
  nav{
	  padding: 10px;
		column-count: 1;
		background: #fff2e1;
	  background-color:rgb(253, 157, 141);
	  border: 3px solid grey;
	  width: 100%;
	}
  .menuTable {
		display: flex;
		flex-direction: row;
		flex-wrap:  wrap;
		margin: 0 auto;
	}
	.menuTable ul {
	width:100%;
	padding: 0;
	min-height: 100%;
  }
	.menuTable li {
		flex: 100%;
		display: block;
	}
	.menuTable ul li:hover, .menuTable a:hover {
		background: #666;
	}
	.menuTable li a {
		color: #fff;
		text-align: center;
		width: 100%;
	}
}



